/*.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 40rem;
    padding-left: .5rem;
}*/
  
/*.navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: .5rem;
} */
@import url('htttps://fonts.googleapis.com/css?family=Montserrat:500');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*background-color: #24252A;*/
} 
#brand-image {
    height:25px;
  }
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 580;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
color: #8088a9
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    margin-left: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}

  
  
  